{% extends 'base.html' %}

{% block content %}
    <h1>Галерея</h1>

    <h2 class="gal-name">&ndash; настоящее</h2>
    <p>В этом разделе вы можете ознакомиться с работами, которые можно купить.</p>

    {% load attachments_tags %}

    {% load costume_extras %}

    {% for costume in present_list %}
        <div class="img-container">
            <h2 class="item-name">{{ costume.title }}</h2>

            {% get_attachments_for costume as "attachments_list" %}

            {% for attachment in attachments_list %}
                {% show_thumbnail attachment %}
            {% endfor %}


            <div class="clear"></div>
            <p class="price">{{ costume.price }} руб.</p>
        </div>
    {% endfor %}

    <h2 class="gal-name">&ndash; прошлое</h2>
    <p>В этом разделе можно ознакомиться с выполненными мною работами, которые уже нашли своего обладателя.</p>

    {% for costume in past_list %}
        <div class="img-container">
            <h2 class="item-name">{{ costume.title }}</h2>

            {% get_attachments_for costume as "attachments_list" %}

            {% for attachment in attachments_list %}
                {% show_thumbnail attachment %}
            {% endfor %}

            <div class="clear"></div>
            <p class="price">{{ costume.price }} руб.</p>
        </div>
    {% endfor %}

{% endblock %}

